{% extends 'base.html' %} {% load static %} {% load i18n %} {% load crispy_forms_tags %} 
{%block content %}

<link rel="stylesheet" href="{% static 'styles/add_client.css' %}" /> 
  <div class="container-fluid">
      <div class="card-page">
        <div class="head-card">
          <div class="text-center">
          <img class="img-icon" src="{% static 'images/icon.png' %}" alt="icon">
          <h3 class="card-title">{{ user.first_name }} {{ user.last_name }} {% trans 'Parolni o`zgartirish' %}</h3>
          </div>
        </div>
      <form class="form-class" method="POST">
        {% csrf_token %}
            {{form|crispy}}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <input class="btn btn-success stretched-link"  type="submit" value="{% trans 'Saqlash' %}" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}