{% extends 'base.html' %} {% load static %} {% load i18n %} {% load crispy_forms_tags %} 
{%block content %}

<link rel="stylesheet" href="{% static 'styles/registretions_users.css' %}" /> 
  <div class="container-fluid">
      <div  class="card-page">
        <div class="head-card">
          <div class="text-center">
          <img class="img-icon" src="{% static 'images/icon.png' %}" alt="icon">
          <h3 class="card-title">{% trans "Yangi foydalanuvchi qo`shish" %}</h3>
          <p class="card-description">{% trans "Shartnoma tuzilgan foydalanuvchilarni ro`yxatga qo`shish" %}</p>
          </div>
        </div>
      <form  class="form-class" action="{% url 'registrations' %}" method="POST">
        {% csrf_token %}
            {{form|crispy}}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <input class="btn btn-primary stretched-link"  type="submit" value="Saqlash" />
        </div>
      </form>
    </div>
  </div>
  
{% endblock %}