{% extends 'base.html' %} {% load i18n %}  {% load crispy_forms_tags %} 
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/registretions_users.css' %}" /> 
  <div class="container-fluid">
      <div  class="card-page">
        <div class="head-card">
          <div class="text-center">
          <img class="img-icon" src="{% static 'images/icon.png' %}" alt="icon">
          <h3 class="card-title">{{message_p.message_title}}</h3>
          <p style="margin-left:20px; margin-right:20px;" class="card-description">{{message_p.message_description}}</p>
          </div>
        </div>
    </div>
  </div>
{% endblock %}