{% extends 'base.html' %} {% load static %} {% load i18n %} {% load crispy_forms_tags %} 

{%block content %}

<link rel="stylesheet" href="{% static 'styles/succes_password.css' %}" /> 
<div class="container-fluid">
    <div class="card text-center">
        <h1 class="succes-title">{% trans 'Parol muvoffaqiyatli o`zgartirildi' %}</h1>
        <p class="success-desc">{% trans 'Yangi parol orqali saytga kirishingiz mumkin' %}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-success" href="{% url 'login' %}">{% trans 'Kirish' %}</a>
        </div>
    </div>
</div>
{% endblock content %}