h1{
    font-size: 24px;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #5893eb, 2px 2px 1px #5893eb;
    text-align: center;
}

.success-desc{
    text-align: center;
}
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-page{
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 15px;
    width: 550px;
    max-height: 900px;
    border: 1px solid black;
    border-radius: 15px;
}

.card-page:hover{
    box-shadow: 0 15px 18px #aecfff;
}
.alert {
    text-align: center;
    padding: 15px;
    margin-top: 12px;
    margin-bottom: 20px;
    width: 300px;
    border: 1px solid transparent;
    border-radius: 4px;
} 

.alert__message {
    margin: 0;
    font-weight: bold;
    display: flex;
  }

.alert--success {
    background-color: rgba(76, 175, 80, 0.1); 
    border-color: #4caf50;
    color: #4caf50;
}

.alert--error {
  background-color: rgba(224, 9, 9, 0.395); 
  border-color: #c47878;
  color: #be2323;
}
.alert__close {
background: none;
border: none;
cursor: pointer;
font-size: 1.5rem;
float: right;
margin-top: -7px;
margin-right: -7px;

} 

.alert {
text-align: center;
padding: 15px;
margin-top: 12px;
margin-bottom: 20px;
width: 300px;
border: 1px solid transparent;
border-radius: 4px;
} 
